.circle {
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50%;
    margin: 6px;
    background-color: black;
}

.circleCol {
    display: flex;
}

.MoveToggle:hover {
    cursor: pointer;
}